// "%ProgramFiles(x86)%\Windows Kits\10\bin\10.0.26100.0\x64\rc.exe" win32.rc

#define RT_MANIFEST 24

1 RT_MANIFEST "manifest.xml"

101 ICON "128-blue.ico"
102 ICON "32-blue.ico"
103 ICON "32-silver.ico"
